
body {
    font-family: 'Roboto';
    font-size: 1em;
    margin: 0%;
    width: 100%;
    height: 100%;
  }

.separator{
    background-color: #f7f7ff;
}

.side_margins {
    margin-left: 8vw;
    margin-right: 8vw;
    padding-top: 2vw
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 900;

}
h2 {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
}
h4 {
    margin-left: 1.5vw;
}

h3 {
    margin-top: 0%;
    font-weight: 900;
    position: relative;
    z-index: 2;
}

h3::first-letter {
    position: relative; /* Ensures the first letter is not affected by z-index */
  }

h3::before {
    content: '';
    position: absolute;
    width: 1.5em; /* Adjust circle size as needed */
    height: 1.5em; /* Adjust circle size as needed */
    background-color: orange;
    border-radius: 50%; /* Make it a circle */
    top: 50%; /* Position it vertically in the middle */
    left: -0.3em; /* Adjust position as needed */
    transform: translateY(-50%); /* Center it vertically */
    z-index: -1; /* Place it behind the text */
}

.text{
    color: #555555;
    line-height: 1.5;
}
.text-width {
    width: 90%;
}

.text-header{
    color: black;
    line-height: 1.5;
}

/*---HEADER---*/
.initial {
    width: 100%;
    display: grid;
    min-height: 25em;
    height: fit-content;
    overflow: hidden;
    grid-template-columns: 50% 50%;
    position: relative;

}



.initial_test {
    display: flex;
    flex-wrap: wrap;
  }
.text_test {
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
}
.circle_test {
    flex: 1;
    box-sizing: border-box;
    position: absolute;
    overflow: auto;
    /* top: 70%; */
    right: 0;
    /* transform: translateY(-70%); */
    top: 0;
    width: 50%;
    height: 50em;
    border-radius: 40% 0 0 60%; /* Adjust the radius to get half circle */
    background-color: orange;
    z-index: -1;
  }



  

.circle_test img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transform: translateY(65%) translateX(60%);
}

.neco_img {
    position: relative;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    transform: translateX(40%)
}







header{
    width: 100%;
    height: 100%;
    display:inline-block;
}
.header2{
    width: 50%;
    margin-left: 50%;
    display:inline-block;
}
.backhead{
    color:  #ff9301;
    opacity: 0.5;
}

.title{
    color: #0b0b15;
    font-size: 6em;
    margin: 0%;
}
.image-container-avatar {
    width: 50%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: -1%;
    right: -10%;

  }
.circle-avatar {
    width: 50em;
    height: 50em;
    background-color: #ff9301;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 80%;
    position: absolute;
    transform: translate(90%, -70%);

}
.circle-wrapper {
    width: 100%;
    overflow: hidden;
}

.text-block{
    padding-top: 10;
}

li {
    display: inline-block;
    padding-right: 2%;
}
menu {
    padding-left: 0;
    padding-bottom: 4vw;
}

/*---BIBLIOGRAPHY---*/
.bibliography {
    display: flex;
    flex-direction: row;
    flex: auto;
    overflow: hidden;
    /* grid-template-columns: 30% 70%; */
}
.bib-avatar{
    height: 80%;
    width: auto;
    position: relative;
    border-radius: 50%;
    margin: auto
}
.bib-text{

    margin-left: 4vw;
    flex: 1 2;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
img.bib-img{
    width: auto;
    background-color: #ff9301;
    height: 100%;
    border-radius: 50%;
    position: relative;
}

.horizontal-line {
    width: 90%;
    height: 1px;
    background: #eeeeee;
    top: 0;
    margin-left: 5%;
    bottom: 0;
    position: relative;
    text-decoration-style: wavy;
  }

.avatar-row-bib {
    display: grid;
    overflow: hidden;
    grid-template-rows: 80% 20%;
}

.circle-wrapper-bib {
    width: 100%;
    overflow: hidden;
    margin: auto

}

.circle-avatar-bib {
    width: 20em;
    height: 20em;
    background-color: #ff9301;
    border-radius: 50%;
    position: relative;
    margin: auto;
    overflow: hidden
}

.bib-role {
    text-align: center;
}

.bib-role-name {
    font-weight: 900;
    font-size: 1.5em;
    color: black;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.bib-role-role {
    font-weight: 400;
    font-size: 1em;
    color: #ff9301;
    margin-top: 0;
}
/*---WHATIDO---*/
.whatido_box {
    width: 30%;
    min-height: 200px;
    padding-top: 10%;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5%;
    margin: 1%;
    background-color: white;
    display:inline-block;
    position: relative;
    overflow: hidden;
}
.whatido_text{
    width: 90%;
    text-align: left;
    margin: auto;
}

.image-container {
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-90%, -40%);
}

.whatido-circle {
    width: 10em;
    height: 10em;
    background-color: #ff9301;
    border-radius: 50%;
    position: absolute;
    transform: translate(-20%, -120%);;
}



.award_box {
    width: 31%;
    height: 180px;
    border-radius: 20px;
    margin: 1%;
    background-color: white;
    display:inline-block;
    position: relative;
}


.award-wrapper {
    position: relative;
    height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-rows: 70% 30%;

}
.award-image {
    width: 15%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto
}
.award-text-center {
    text-align: center;
}

/* EXPERIENCE */

.experience-box {
    width: 100%;
    min-height: 12em;
    border-radius: 10px;
    background-color: #f7f7ff;
    position: relative;
    margin-bottom: 2%;
    display: grid;
    overflow: hidden;
    grid-template-columns: 20% 80%;
}
.experience-date {
    width: 100%;
}

.experience-text-center {
    position: relative;
    margin-left: 25%;
    margin-top: 25%;
}

.label {
    color: white;
    padding: 8px;
    border-radius: 5px;
  }
.label-center {
    position: relative;
    margin-left: 25%;
    margin-top: 25%;

}
.vert-line {
    height: 80%;
    width: 1px;
    background: #eeeeee;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 20%;
    top: 10%
  }

.experience-desc {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 4vw;
    margin-top: 2vw;
}

.ft {
    background-color: #ff9301;
}
.pt {
    background-color: grey;
}
/* PORTFOLIO */
.port-col-1 {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-columns: 33% 33% 33%;
}
.port-col-2 {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-columns: 33% 33% 33%;
}

.port-row {
    margin-left: 4%;
}
.port-image-container {
    width: 100%;
    height: auto
}

.port-image {
    width: 100%;
    border-radius: 10px;
    position: relative;
}


.port-desc {
    text-align: left;
}

.port-desc-title {
    font-weight: 900;
    font-size: 1em;
    color: black;
}
.port-desc-date {
    font-weight: 400;
    font-size: 0.9em;
}

/* CONTACT */

.contact-col {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-columns: 50% 50%;
    min-height: 40vw;
}
.contact-row {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-rows: 50% 50%;
    height: 100%;
}
.contact-mess-split {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-columns: 50% 50%;
    margin: 1%
}

.contact-box-name{
    height: auto;
    padding-right: 5%;
}
.contact-box-email{
    height: auto;
    padding-left: 5%;
}

.contact-box-subject{
    height: auto;
    margin: 1%;
}

.contact-box-comment{
    height: auto;
    margin: 1%;
}

input {
    resize: horizontal;
    width: 100%;
    height: 3em;
    border-color: #bbbbbb;
    border-width: 1px;
    font-size: 1em;
    padding: 0;
    margin: auto
}

#comment {
    height: 7em;
}

input::placeholder {
    padding-left: 1em;
}

input:active {
    width: auto;   
}

input:focus {
    min-width: 100%;
}

button {
    background-color: #0b0b15;
    color: white;
    border-radius: 5px;
    height: 3em;
    width: 8em;
    border: 0;
    margin-left: 1%;
    margin-top: 2%;
    font-size: 1em;
}
.contact-map {
    padding-bottom: 3%;
    width: 100%;
}
.contact-map-iframe {
    padding: 5px;
    background-color: white;
}
.contact-add-split {
    display: grid;
    grid-template-columns: 10% 90%;
    height: 3em;
    padding-bottom: 2%;
}
.contact-image {
    height: 80%;
}
.contact-img-container {
    height: 3em;
    margin: auto;
}
.container-text-bold {
    margin: 0;
    font-weight: 900;
    margin: auto;
    margin-left: 0
}


/* SOCKY */
.socky-block {
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.socky-img {
    width: 15%;
    margin: 2%
}

.socky-copyright {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto
}






.link {
    text-decoration: none
}

.frame{
    color: #bbbbbb;
}

.backgroud{
    color: #f7f7ff;
}
.center {
    position: relative;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, 90%);
}